#carouselExampleIndicators {
  height: 100vh;
}

.carousel-inner > div {
  height: 662px !important;
}

.bg-light {
  background-color: transparent !important;
  position: fixed;
  z-index: 999;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bg-light img {
  width: 144px;
}

.bg-light .nav-link:focus {
  color: #fff !important;
}

.nav-bg-on-scroll {
  background-color: rgba(0, 0, 0, 0.5) !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

.active {
  border-bottom: 1px solid #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar {
  padding: 5px 50px;
}

.nav-item {
  padding: 0 20px;
}

.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  top: 10px;
  margin-top: 1px;
  background: #fff;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
}

.navbar-light .navbar-toggler-icon {
  font-size: 25px;
  background-image: none;
  color: #fff;
}

#contact-us {
  height: 100vh;
  width: 100%;
  padding-top: 125px;
}

#contact-us textarea {
  min-height: 200px;
}

#about-us {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 130px;
}

#about-us p {
  margin-top: 14%;
}

#about-us .video-layer {
  margin-top: 50px;
  margin-bottom: -130px;
}

#gallery {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 130px;
}

#artist {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 130px;
  margin-bottom: 130px;
}

.img-container {
  position: relative;
  width: 80%;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: rgba(45, 52, 54, 0.3);
}

.img-container:hover .image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.img-container:hover .overlay {
  opacity: 1;
}

#side-select-heart {
  position: absolute;
  top: 15px;
  right: 15px;
}

#side-select-share {
  position: absolute;
  top: 70px;
  right: 15px;
}

#footer-title {
  position: absolute;
  bottom: 40px;
  left: 30px;
  right: 30px;
  color: #FFFFFF;
}

#footer-content {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  color: #FFFFFF;
  font-size: 15px;
}

#red {
  color: #d63031;
}

.share-hover {
  width: 100%;
  color: #ecf0f1;
}

.share-hover:hover {
  color: #0984e3;
}

.pop-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -110px;
  right: 0;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#side-select-share:hover .pop-content {
  opacity: 1;
}

.heart-hover {
  width: 100%;
  color: #ecf0f1;
  margin-bottom: 10px;
}

.heart-hover:hover {
  color: #d63031;
}

.heart-popup {
  display: none;
  color: #d63031;
  font-size: 150px;
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  -webkit-animation: move 3s infinite ease-in-out;
          animation: move 3s infinite ease-in-out;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0.1deg);
            transform: scale(1) rotate(0.1deg);
  }
}

@keyframes move {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0.1deg);
            transform: scale(1) rotate(0.1deg);
  }
}

.rating {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  color: #FFFFFF;
  font-size: 15px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 15px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\F005";
}

.rating > .half:before {
  content: "\F089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

/* hover previous stars in list */

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

